{
  "semi": true, // Добавляет точку с запятой в конце строк
  "singleQuote": true, // Использует одинарные кавычки
  "trailingComma": "es5", // Добавляет запятые в конце объектов и массивов (в стиле ES5)
  "printWidth": 80, // Максимальная длина строки
  "tabWidth": 2, // Ширина табуляции
  "useTabs": false, // Использует пробелы вместо табов
  "arrowParens": "always" // Всегда добавляет скобки вокруг аргументов стрелочных функций
}